anaconda==2021.05
anaconda-client==1.7.2
anaconda-navigator==2.0.3 
anaconda-project==0.9.1
conda==4.10.1
conda-build==3.21.4
conda-content-trust==0.1.1
conda-env==2.6.0
conda-package-handling==1.7.3
conda-repo-cli==.0.4
conda-token==0.3.0
conda-verify==3.4.2
matplotlib==3.3.4
numpy==1.20.1
pandas==1.2.4
seaborn==0.11.1